.App {
  text-align: center;
}

.bg-light {
  background: #fafafa;
  color: #252525;
}

.bg-dark {
  background: #252525;
  color: #fafafa;
}

.Header {
  padding: 1em 0;
  background: var(--background-Header);
}

.Characters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: var(--borderContent);
}

.Character-Card {
  width: 23%;
  border: 3px solid brown;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.Character-Card h2 {
  padding: 0.5em 0;
}

.Character-Card p:last-child {
  padding-bottom: 1em;
}

.Character-Card img {
  width: 100%;
}

button {
  border: none;
  margin: 1em;
  padding: 0.5em 2em;
  border-radius: 50px;
  background: brown;
}

.Container {
  padding: 0 1em;
}

.FavoriteCharacters {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.FavoriteCharacters img {
  width: 50px;
  margin: 0 auto;
  border-radius: 50px;
}

.FavoriteCharacters li {
  list-style: none;
  margin: 0 10px;
}
